*{
  font-family: 'Poltawski Nowy', serif;
font-family: 'PT Serif', serif;
font-size: 18px;


}
.Center{
  justify-content: center;
}
body{

  width: 100%;
overflow-x: hidden;
  background-color: black;
}
.card{
  color: black !important;
}
.Home h1{
color: aqua;
}
.Home h3{
color: white;
}

